#============= platform_app ==============
allow platform_app device:chr_file { getattr ioctl open read write };
allow platform_app vendor_file:file { execute getattr open read };
allow platform_app gpu_device:file { read write ioctl open getattr };
allow platform_app mali_device:chr_file { getattr ioctl open read write };
allow priv_app mali_device:chr_file write;
allow system_app mali_device:chr_file { getattr ioctl open read write };
