#============= vndservicemanager ==============
allow vndservicemanager init:unix_stream_socket connectto;
allow vndservicemanager property_socket:sock_file write;